{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    {% for product_id in products %}
        <a href="{{ path('product_item',{id: product_id}) }}"> Product id {{ product_id }}</a>  </br>
    {% endfor %}
{% endblock %}

    {% block title %}Products list{% endblock %}
    {% block stylesheets %}

    {% endblock %}
