{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    {% for product in products %}
        <a href="{{ path('product_item',{id: product.id}) }}"> Product id {{ product.id }}:{{ product.title }}</a>  </br>
    {% endfor %}
{% endblock %}

    {% block title %}Products list{% endblock %}
    {% block stylesheets %}

    {% endblock %}
