{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Products {{ id }}</h1>

{% endblock %}

    {% block title %}Products page{% endblock %}
    {% block stylesheets %}

    {% endblock %}
